# Byte-compiled / optimized / DLL files
__pycache__/
# C extensions
*.so

# Distribution / packaging
.Python
build/


# Jupyter Notebook
.ipynb_checkpoints

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

*.Python
# Environments
.env
.venv
env/
venv/

# PyPI configuration file
.pypirc
data/cache/
data/visual_genome/images/
data/visual_genome/annotations/
data/visual_genome/xml
.cursorignore
bottom_up_features/
.DS_Store

*/pretrained_model/*
visualization_output/

checkpoints/



